<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>예약하기 페이지</title>
    <link rel="stylesheet" href="./style/style.css">
</head>
<body>

    <div class="modal" style="display: none;">
        <div class="modal-box">
            <form action="">
                <input type="text">
                <input type="text">
                <input type="text">
                <input type="text">
                <p class="pay"></p>
                <button type="submit">예약하기</button>
            </form>
        </div>
    </div>

    <div class="msg-modal" style="display: none;">
        <p>예약할 수 없습니다.</p>
    </div>

    <div class="app">
        <div class="info">
            <div class="item">
                <p class="possible"></p>
                <p>예약 가능</p>
            </div>
            <div class="item">
                <p class="Proceeding"></p>
                <p>예약중</p>
            </div>
            <div class="item"> 
                <p class="complete"></p>
                <p>예약 완료</p>
            </div>
        </div>

        <div class="date">
            <div class="item">자리/<br>날짜</div>
        </div>

        <div class="A01 resource">
            <div class="item">A01</div>
        </div>
        <div class="A02 resource">
            <div class="item">A02</div>
        </div>
        <div class="A03 resource">
            <div class="item">A03</div>
        </div>
        <div class="A04 resource">
            <div class="item">A04</div>
        </div>
        <div class="A05 resource">
            <div class="item">A05</div>
        </div>
        <div class="A06 resource">
            <div class="item">A06</div>
        </div>
        <div class="A07 resource">
            <div class="item">A07</div>
        </div>

        <div class="T01 resource">
            <div class="item">T01</div>
        </div>
        <div class="T02 resource">
            <div class="item">T02</div>
        </div>
        <div class="T03 resource">
            <div class="item">T03</div>
        </div>
        <div class="T04 resource">
            <div class="item">T04</div>
        </div>
        <div class="T05 resource">
            <div class="item">T05</div>
        </div>
        <div class="T06 resource">
            <div class="item">T06</div>
        </div>
        <div class="T07 resource">
            <div class="item">T07</div>
        </div>
        <div class="T08 resource">
            <div class="item">T08</div>
        </div>
        <div class="T09 resource">
            <div class="item">T09</div>
        </div>
        <div class="T10 resource">
            <div class="item">T10</div>
        </div>
    </div>
    <script src="./script/script.js"></script>
</body>
</html>