<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>인평자동차고등학교 IT기능반 - Menu List</title>
    <link rel="stylesheet" href="./style.css">
</head>
<body>
    <div class="contents menu-list">
        
        <div class="item">
            <input type="checkbox" id="item1">
            <label for="item1" class="click">
                <img src="./img/o2_num10.jpg">
                <p>맛있는 바게트</p>
            </label>
            <div class="active">
                <div class="modal-box">
                    <div class="modal-header">
                        <h1>메뉴</h1>
                        <label for="item1"><img src="./x.svg"></label>
                    </div>
                    <div class="modal-content">
                        <img src="./img/o2_num10.jpg">
                        <div>
                            <h1 class="title">맛있는 바게트</h1>
                            <p class="info">나이트로 커피 정통의 캐스케이딩과 부드러운 콜드 크레마! 부드러운 목 넘김과 완벽한 밸런스에 커피 본연의 단맛을 경험할 수 있습니다.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="item">
            <input type="checkbox" id="item2">
            <label for="item2" class="click">
                <img src="./img/o2_num8.jpg">
                <p>마늘 크림 치즈빵</p>
            </label>
            <div class="active">
                <div class="modal-box">
                    <div class="modal-header">
                        <h1>메뉴</h1>
                        <label for="item2"><img src="./x.svg"></label>
                    </div>
                    <div class="modal-content">
                        <img src="./img/o2_num8.jpg">
                        <div>
                            <h1 class="title">마늘 크림 치즈빵</h1>
                            <p class="info">나이트로 커피 정통의 캐스케이딩과 부드러운 콜드 크레마! 부드러운 목 넘김과 완벽한 밸런스에 커피 본연의 단맛을 경험할 수 있습니다.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
</body>
</html>