<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>인평자동차고등학교 IT기능반 - review</title>
    <link rel="stylesheet" href="./style.css">
</head>
<body>
    <div class="container">
        <div class="contents grid-2fr">
            <div class="list">
                <div class="shadow"></div>
                <div class="shadow"></div>

                <!-- review List -->
                <div class="list-item">
                
                    <div class="review">
                        <p>Retool has been critical for our ops from the start, and is the reason we’re able to scale so quickly. Anything operations or sales wants is built instantly in Retool, instead of in weeks with actual code. And the on-prem version with access controls + audit logs makes it easy to meet our compliance requirements.</p>
                    </div>

                    <div class="review">
                        <div class="logo">
                            <p>전주 독서 대전</p>
                        </div>
                        
                        <p class="info">귀사의 제품 도구는 모든 프로젝트의 빠르고 쉬운 부분으로 만들어 그 패러다임을 전환하는 데 도움을 주어 수많은 운영자 및 엔지니어링 시간을 절약했습니다.</p>
                    </div>
    
                    <div class="review">
                        <p>貴社の製品ツールは、すべてのプロジェクトの迅速で簡単な部分になり、そのパラダイムを切り替えるのに役立ち、数多くのオペレータとエンジニアリング時間を節約しました。</p>
                    </div>
    
                    <div class="review">
                        <p></p>
                    </div>
    
                    <div class="review">
                        <p></p>
                    </div>
                </div>

            </div>
            <div class="about">
                <h1>고객과의 커뮤니티</h1>
                <p>우리는 대담하고 장기적인 목표를 가지고 있지만 고객이 직면한 문제는 오늘날 매우 현실적입니다. 우리 제품을 사용하기 전에는 팀이 끝없는 스프레드시트를 관리하고 일회성 워크플로우를 구축하고 처음부터 내부 도구를 개발하는 데 많은 엔지니어링 시간을 소비해야 했습니다. 잃어버린 시간은 엄청납니다.</p>
                <p>수만 개의 회사가 우리의 제품을 사용하여 수백만 명의 학생을 교실로 데려오는 COVID19 추적 앱부터 학자금 대출 결정을 가속화하는 도구, 고객 지원을 확장하는 새로운 워크플로우에 이르기까지 비즈니스 운영을 지원합니다. 우리는 이제 막 시작했으며 여러분의 도움을 적극 환영합니다.</p>
                <a class="link" href="">Learn more</a>
            </div>
        </div>
    </div>
</body>
</html>