body{
    margin: 0;
}

*{
    box-sizing: border-box;
    margin: 0;
}

.container{
    border-top: 1px solid rgb(229, 231, 235);
    border-bottom: 1px solid rgb(229, 231, 235);
    background: rgb(243, 244, 246);
    margin-top: 10vh;
    margin-bottom: 10vh;
}

.contents{
    width: 1200px;
    height: 100vh;
    max-height: 80vh;
    padding: 80px 0px 96px;
    margin: 0px auto;
}

.grid-2fr{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 3rem;
}

.list{
    position: relative;
    overflow: hidden;
}


.item .list-item{
    animation-name: listItem;
    animation-duration: 3s;
}

@-webkit-keyframes listItem{
    0%{
        left: 0px;
    }
    50%{
        left: 50px;
    }
    100%{

    }
}

.list .review{
    box-shadow: rgba(0, 0, 0, 0.08) 0px 6px 18px 2px;
    border-radius: 8px;
    background: rgb(255, 255, 255);
    padding: 36px;
    margin-bottom: 27px;
}

.list .review .logo{
    display: flex;
    align-items: center;
    gap: 10px;
    margin-bottom: 10px;
}

.list .review .logo img{
    max-height: 35px;
    filter: brightness(0%)
}

.list .review .logo p{
    font-weight: 800;
    font-size: 1rem;
    color:#374151;
}

.list .review .info{
    color: #4b5563;
}

.list .shadow:nth-child(1){
    position: absolute;
    top: 0px;
    height: 88px;
    width: 100%;
    background: linear-gradient(rgb(245, 245, 245), rgba(255, 255, 255, 0));
}


.list .shadow:nth-child(2){
    position: absolute;
    bottom: 0px;
    height: 88px;
    width: 100%;
    background: linear-gradient(to top, rgb(245, 245, 245), rgba(255, 255, 255, 0));
}

.about{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.about h1{
    margin-bottom: 1.5rem;
    font-weight: 900;
    font-size: 2.5rem;
}

.about p{
    color: #334155;
    font-size: 16px;
    line-height: 1.5;
    margin-bottom: 1rem;
    font-weight: 400;
}

a.link{
    font-weight: 600;
    text-decoration: none;
    color: #6366f1;
    margin-top: 2rem;
}